{% extends 'base.html.twig' %}

{% block title %}GameResult index{% endblock %}

{% block body %}
    <h1>GameResult index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game_result in game_results %}
            <tr>
                <td>{{ game_result.id }}</td>
                <td>{{ game_result.description }}</td>
                <td>
                    <a href="{{ path('game_result_show', {'id': game_result.id}) }}">show</a>
                    <a href="{{ path('game_result_edit', {'id': game_result.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_result_new') }}">Create new</a>
{% endblock %}
