<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <style>
            header {
                text-align: right;
                border-bottom: 0.5rem solid black; padding: 1rem;
            }
        </style>
    </head>
    <body>
    <header>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Username:
            <strong>{{ app.user.username }}</strong>
            <br>
            <a href="{{ url('app_logout') }}">logout</a>
        {% else %}
            <a href="{{ url('app_login') }}">login</a>
        {% endif %}
    </header>

    <nav>
        <ul>
            <li>
                <a href="{{ url('homepage') }}">home</a>
            </li>
            <li>
                <a href="{{ url('aboutpage') }}">about</a>
            </li>
            <li>
                <a href="{{ url('chess_game_index') }}">chess games</a>
            </li>
            <li>
                <a href="{{ url('game_result_index') }}">game result CRUD</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ url('admin') }}">admin home</a>
                </li>
                <li>
                    <a href="{{ url('user_index') }}">user CRUD</a>
                </li>
            {% endif %}
        </ul>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


        {% block javascripts %}{% endblock %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>
